<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarterAppMVVM"
        tools:targetApi="31">
        <activity
            android:name=".example.presentation.activity.music_player.MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".call.presentation.IncomingCallActivity"
            android:exported="false"
            android:showOnLockScreen="true" />
        <activity
            android:name=".call.presentation.CallActivity"
            android:exported="false"
            android:showOnLockScreen="true" />
        <activity
            android:name=".example.presentation.activity.notification.ExampleNotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.notification.ExampleNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.worker.WorkerActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.storage.StorageActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.crypto.AesCryptoActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.crashlytics.FirebaseCrashlyticsActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.api_call.ApiCallActivity"
            android:exported="false" />
        <activity
            android:name=".example.presentation.activity.ListExampleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CALL NOTIFICATION RELATED -->
        <receiver
            android:name=".call.domain.receiver.CallNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_NOTIFICATION_ACCEPT_INCOMING_CALL" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_NOTIFICATION_DECLINED_INCOMING_CALL" />
            </intent-filter>
        </receiver>
        <service
            android:name=".call.domain.player.CallNotificationPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_NOTIFICATION_PLAYER_START_INCOMING_CALL_PLAYER" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_NOTIFICATION_PLAYER_STOP_INCOMING_CALL_PLAYER" />
            </intent-filter>
        </service>

        <!-- FCM RELATED -->
        <service
            android:name=".example.domain.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- MUSIC PLAYER RELATED -->
        <service
            android:name=".music_player.domain.service.MusicPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_PLAY_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_PAUSE_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_RESUME_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_REWIND_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_FORWARD_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_SEEK_TO_POSITION" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_SEND_INFO" />
            </intent-filter>
        </service>
        <receiver
            android:name=".music_player.domain.receiver.MusicPlayerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_PAUSE_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_RESUME_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_REWIND_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_FORWARD_AUDIO" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_SEEK_TO_POSITION" />
                <action android:name="com.fadlurahmanf.starterappmvvm.ACTION_SEND_INFO" />
            </intent-filter>
        </receiver>

    </application>
</manifest>